

body {
	background-image: url("back.jpg");

}
h1{
	font-family: Helvetica, Arial;
	font-size: 40px;
	display: flex;
	justify-content: center;
}


p {
	font-family: Helvetica, Arial;
	text-align: justify;
	font-size: 16px;
	text-indent: 50px;
	margin-right: 2%;
	margin-left: 2%;
	display: flex;
	align-self: flex-end;
	
}

h2 {
    border-style: none none solid none;
	display: flex;
	font-family: Helvetica, Arial;
	margin-right: 2%;
	margin-left: 2%;
	display: flex;

}

h3 {
	display: flex;
	font-family: Helvetica, Arial;
	margin-right: 2%;
	margin-left: 2%;
}

h4 {
	margin-right: 2%;
	margin-left: 2%;
	display: flex;
	font-family: Helvetica, Arial;
}
a.button {
	float: left;
    background-color: #4CAF50;
    color: white;
	padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 10px grey;
    text-decoration: none;
}

