

body {
	background-image: url("back.jpg");
	backface-visibility: 50%;

}
h1{
	font-family: Helvetica, Arial;
	font-size: 40px;
	text-decoration: 
}

p {
	font-family: Helvetica, Arial;
	text-align: justify;
	font-size: 16px;
	text-indent: 50px;
	margin-right: 2%;
	margin-left: 2%
	
}

h2 {

	font-family: Helvetica, Arial;
	margin-right: 2%;
	margin-left: 2%

}

a.button {
	float: left;
	shape-margin: 5%;
    background-color: #4CAF50;
    color: white;
	padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    box-shadow: 5px 5px 10px grey;
    text-decoration: none;
}

